@charset "UTF-8";
body{background-color:#fff;}
#header{background-color:#fff;}
.nav{background-color:#0c0c13;}
#content1{overflow:hidden;}
#content1 .main_box{background-color:#fff;}
#content2{overflow:hidden;}
#content2 .today_box{background-color:#fff;}
#content2 .best_box{background-color:#fff;}
#content3{overflow:hidden;}
#content3 .category{background-color:#fff;}
#footer{background-color:#0c0c13;}

/* container */
.container {position:relative; width:1200px; margin:0 auto;}

/* header */
.header {height:150px;}
.header .header_menu{
	text-align:right;
	display:inline; 
	margin:0 2px;
}
.header .header_menu a{
	float:right;
	color:#0c0c13;
	padding:8px 0 6px 10px;
	transition:all 0.3s ease;
	font-family:sans-serif;
	font-weight:900;
	font-size:14px;
}

.header .header_menu a:hover{
	color:#f5b041;
}

.header .header_tit{
	text-align:center; 
	text-transform:uppercase; 
	margin-top:25px; 
	font-family:sans-serif;
}

.header .header_tit h1 {
    font-size:30px; 
    color:#fff; 
    background:#0c0c13; 
    display:inline-block; 
    padding:5px 15px 5px 15px; 
    letter-spacing:2px; 
    font-weight:900; 
    transition:box-shadow 0.25s ease-in-out;
}

.header .header_tit h1:hover {
    box-shadow: 
        inset -9em 0 0 0 #f5b041, 
        inset 9em 0 0 0 #f5b041;
}
    
/* --------------------------------------- */

/* nav */
.nav{overflow:hidden; padding:15px 0;}
.nav .menu{text-align:center;}
.nav .menu li{display:inline; margin:0 2px;}
.nav .menu li a{
	width:20%;
	position:relative;
	display:inline-block; 
	padding:3px 0 3px 10px;
	float:left;
	left:17%;
	font-size:22px;
	font-family:sans-serif;
	font-weight:900;
	transition:all 0.3s ease; 
	color:#fff;
}

.nav .menu li a:hover{
	color:#f5b041;
}

/* --------------------------------------- */

/* content1 */
.main_box{height:500px; border:1px solid #eee;}
/* --------------------------------------- */

/* content2 */
.today_box{height:300px; border:1px solid #828282;}
.best_box{height:300px; border:1px solid #eee;}
/* --------------------------------------- */

/* content3 */
.category{height:250px; border:1px solid #828282;}
/* --------------------------------------- */

/* footer */
.footer {height:100px; text-align: center; padding: 30px 50px;} 
.footer address {padding-top: 15px; color:#0c0c13; font-weight:900;}
/* --------------------------------------- */

/* 화면 너비 0 ~ 1200px */
@media(max-width:1240px){
	.container {width: 100%;}
    .row {padding: 0 15px;}
}

 /* 화면 너비 0 ~ 768px */
 @media (max-width: 768px){
 }

  /* 화면 너비 0 ~ 480px */
 @media (max-width: 480px){
 }
 