@charset "UTF-8";

/* 콘텐츠 전체 div */
.scheadd_table {
	margin-top: 50px;
	margin-bottom: 50px;
	/* border: 1px solid red; */
}

/* 제목 */
.scAddTitle {
	font-size: 41px;
	font-weight: 650;
	padding-left: 43%;
	/* border: 1px solid blue; */
}

/* formtag */
.schformtag {
	padding: 25px 10px 10px 480px;
	/* border:1px solid black; */
}

.schformtag form select {
	margin-top:10px;
	margin-bottom:20px;
}

.scStart, .scEnd, .schTitle {
	font-size: 21px;
	font-weight: 600;
	/* border:1px solid orange; */
}

.schTitle {
	margin-bottom:10px;
}

/* 일정 추가 버튼 */
.dbSearch {
	background-color: black;
	font-size: 12px;
	font-weight: 660;
	color: white;
	width: 80px;
	height: 25px;
	margin: 2%;
	margin-top: -7%;
	border-radius: 5px;
}
