<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Artist">

	<select id="todayList" resultType="Artist">
		select * from TB_ARTIST_UPLOAD
	</select>
	<select id="bestContent" resultType="Artist">
		select *, rank() over(order
		by au_like desc) from TB_ARTIST_UPLOAD
	</select>
	<select id="uploadList" resultType="Artist">
		select * from
		TB_ARTIST_UPLOAD where m_id = #{m_id}
	</select>

	<!-- 스케줄 보여주는 쿼리 -->
	<select id="artschedule" resultType="Artist">
		select * from tb_artistschedule where m_id = 'artist1'
	</select>

	<!-- 스케줄 추가하는 쿼리 -->
  	<insert id="artscheduleadd">
		INSERT INTO tb_artistschedule VALUES
		(ats_num ,'artist1'
		, #{ats_start_date}
		, #{ats_end_date}
		, #{ats_content}, null)
	</insert>
	
	<delete id="scDelect">
		delete from tb_artistschedule where ats_num = #{scdelete}
	</delete>
	
	<select id="selectArtPage" resultType="Artist">
		select * from TB_ARTIST_UPLOAD where M_NICKNAME = #{m_nickname}
	</select>

</mapper>