@charset "UTF-8";

#content_art {
	background-color: #fff;
	font-family: sans-serif;
}

/* content_art */
.artist_tab {
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
}

.artist_tab #artmenu {
	width: 100%;
	height: 90px;
	/*border: 1px solid blue; */
}

.artist_tab #artmenu #art_sub {
	overflow: hidden;
}

/* 메뉴부분 */
.artist_tab #artmenu #art_sub li {
	width: 48%;
	height: 60px;
	float: left;
	margin: 1%;
}

.artist_tab #artmenu #art_sub a {
	width: 100%;
	height: 45px;
	position: relative;
	padding-top: 10px;
	float: left;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	color: #0c0c13;
	border-bottom: 3px solid #0c0c13;
}

.artist_tab #artmenu #art_sub a:hover, .artist_tab #artmenu #art_sub a:hover::after,
	.artist_tab #artmenu #art_sub a:focus, .artist_tab #artmenu #art_sub a:focus::after
	{
	color: #f5b041;
	border-color: #f5b041;
}

.artist_tab #artmenu #art_sub #current a:after {
	background-color: #fff;
	z-index: 3;
}

/* tab 페이지 창부분  */
.artist_tab #subContent {
	height: 650px;
	/* border: 1px solid red; */
}

.artist_tab #subContent .grid {
	overflow: hidden;
}

.artist_tab #subContent .grid .btn_link {
	width: 23%;
	float: left;
	margin: 0 10px 40px 10px;
	display: block;
	position: relative;
}

.artist_tab #subContent .grid .btn_link .img_box {
	width: 240px;
	height: 240px;
	top: 10px;
	display: inline-block;
	transition: all .5s ease;
	position: relative;
	background-color: purple;
}

.artist_tab #subContent .grid .btn_link .img_box:hover {
	filter:contrast(10%);
}

.artist_tab #subContent .grid .btn_link .title {
	font-family: sans-serif;
	font-size: 14px;
	display: block;
	margin-top: 17px;
	margin-left: 5px;
	height: 20px;
	line-height: 20px;
	color: #0c0c13;
	height: 20px;
}

.artist_tab #subContent .grid .btn_link .btn_ani{
    /* border:1px solid blue; */
    position:absolute;
    top:203px;
    left:187px;
    display: block;   
}

.artist_tab #subContent .grid .btn_link .btn_ani a{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left:7px;
}

.artist_tab #subContent .grid .btn_link .btn_ani .arrow{
	display: inline-block;
	width: 32px;
	height: 32px;
	/* border:1px solid red; */
}

.artist_tab #subContent .grid .btn_link .btn_ani .arrow:hover{
	display:inline-block;
}


/* 페이징 처리 */
.artist_tab .page_btn {
	width:40%;
	display:block;
	margin:1% 0 0 34%;
	text-align: center;
	border: 1px solid red;
}

.artist_tab .page_btn a{
	font-size: 16px;
	font-weight: 500;
	color: #0c0c13;
}

.artist_tab .page_btn a:hover{
	color: #f5b041;
}


/* 검색하기  */
.artist_tab .tabSeach{
	width:38%;
	padding:5px;
	margin:2% 0 0 35%;
	font-size:15px;
	font-family:sans-serif;
	border:1px solid green;
}

.artist_tab .tabSeach .titSeach{
	width:55%;;
	height:22px;
}

.artist_tab .tabSeach .titSeachVar{
	width:25%;
	height:26px;
	margin:0 auto;
	color:#fff;
	background:#0c0c13;
}

.artist_tab .tabSeach .titSeachVar:hover{
	color:#0c0c13;
	background:#fff;
	border:1px solid #0c0c13;
}