@charset "UTF-8";

/* content_artpage */
#content_artpg {
	background-color: #fff;
	font-family: sans-serif;
}

.artForm {
	width: 100%;
	height: 890px;
	/* border: 1px solid red; */
}

.artForm .art-Table {
	height: 500px;
}

.artForm .art-Table .art-id {
	width: 20%;
	height: 400px;
	float: left;
	padding: 2%;
	margin-top: 1.5%;
	position: relative;
	/* border: 1px solid green; */
}

.art-Table .art-id h3 {
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 30px;
}

.art-Table .art-id>img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 10px;
	background-color: #f5b041;
}

.art-Table .art-id .atprofile {
	width:100%;
	/* border:1px solid red; */
}

.art-Table .art-id .art-text {
	font-size:14px;
	font-weight:700;
	text-align:center;
	padding: 3%;
	color: #0c0c13;
	/* border:1px solid red; */
}

/* 구독자 수 */
.art-Table .art-id .art-subscribe, .tatto-Table .tatto-id .art-subscribe {
	font-size:18px;
	font-weight:700;
	text-align:center;
	padding: 3%;
	color: #e20a4e;
	/* border:1px solid red; */
}

.art-Table .art-menu {
	position:relative;
}

.art-Table .art-menu .art-fan1 {
	height: 500px;
	margin-top: 2.5%;
	/* border: 1px solid green; */
}

/* 공연영상 부분 */
.art-Table .art-menu .art-video {
	width: 70%;
	height: 200px;
	float: left;
	margin-top: 1.5%;
	margin-left: 1%;
	padding: 10px;
	position: relative;
	/* border: 1px solid red; */
}

.art-Table .art-menu .art-video h6 {
	font-size: 14px;
	font-weight: 700;
	color: #0c0c13;
	padding-bottom: 5px;
	border-bottom: 2px solid #0c0c13;
}

.art-Table .art-menu .art-video li{
	position: relative;
	margin:15px 10px 0 10px;
	width:17%;
	height:150px;
	float:left;
	background-color: #0c0c13;
	/* border:1px solid red; */
}

.art-Table .art-menu .art-video li img{
	width:100%;
	height:150px;
}

.art-Table .art-menu .art-video .more{
	color: #0c0c13;
	text-transform: uppercase;
	font-size: 10px;
	float: right;
	top: -190px;
	right: 5px;
	position: relative;
}

/* 공연사진 부분 */
.art-Table .art-menu .art-photo {
	width: 70%;
	height: 200px;
	float: left;
	margin-top: 1.5%;
	margin-left: 1%;
	padding: 10px;
	position: relative;
	/* border: 1px solid red; */
}

.art-Table .art-menu .art-photo h6 {
	font-size: 14px;
	font-weight: 700;
	color: #0c0c13;
	padding-bottom: 5px;
	border-bottom: 2px solid #0c0c13;
}

.art-Table .art-menu .art-photo li{
	position: relative;
	width:17%;
	height:150px;
	margin:15px 10px 0 10px;
	float:left;
	background-color: #0c0c13;
	/* border:1px solid red; */
}

.art-Table .art-menu .art-photo .more{
	color: #0c0c13;
	text-transform: uppercase;
	font-size: 10px;
	float: right;
	top: -190px;
	right: 5px;
	position: relative;
}

.art-Table .art-menu .art-fan2 {
	height: 300px;
	margin-top: 1.5%;
	/* border: 1px solid green; */
}

/* 후원, 구독 버튼 */
.art-Table .ta_cash {
	height:30px;
	float:left;
	width:20%;
	margin-left:5%;
	margin-top:-3%;
	/* border:1px solid blue; */
}

.art-Table .ta_cash button {
	margin-right:10px;
	width: 30%;
	height: 25px;
	border-radius: 5px;
	padding:1%;
	font-size:12px;
	color: #fff;
	background-color: #0c0c13;
}

.art-Table .ta_cash button:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}

/* 공연일정 부분 */
.art-Table .art-menu .art-fan2 .art-schedule {
	width: 48%;
	height: 200px;
	float: left;
	padding: 10px;
	position: relative;
	/* border: 1px solid blue; */
}

.art-Table .art-menu .art-fan2 .art-schedule h6 {
	font-size: 14px;
	font-weight: 700;
	color: #0c0c13;
	padding-bottom: 5px;
	padding-left:5px;
	border-bottom: 2px solid #0c0c13;
}

.art-Table .art-menu .art-fan2 .art-schedule li {
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 5px;
	padding-top: 7px;
	padding-left: 10px;
}

.art-Table .art-menu .art-fan2 .art-schedule li:before {
	content: '';
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #0c0c13;
	position: absolute;
	left: 3px;
	top: 16px;
}

/* 공연게시판 부분 */
.art-Table .art-menu .art-fan2 .art-board {
	width: 48%;
	height: 200px;
	float: left;
	padding: 10px;
	position: relative;
	/* border: 1px solid green; */
}

.art-Table .art-menu .art-fan2 .art-board h6 {
	font-size: 14px;
	font-weight: 700;
	color: #0c0c13;
	padding-bottom: 5px;
	padding-left:5px;
	border-bottom: 2px solid #0c0c13;
}

.art-Table .art-menu .art-fan2 .art-board li{
position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 5px;
	padding-top: 7px;
	padding-left: 10px;
}

.art-Table .art-menu .art-fan2 .art-board li:before{
	content: '';
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #0c0c13;
	position: absolute;
	left: 3px;
	top: 16px;
}

/* more 부분 */
.art-Table .art-menu .art-fan2 .art-board .more,.art-Table .art-menu .art-fan2 .art-schedule .more {
	color: #0c0c13;
	text-transform: uppercase;
	font-size: 10px;
	float: right;
	top: -150px;
	right: 5px;
	position: relative;
}

.art-Table .art-menu .art-video .more:hover,.art-Table .art-menu .art-photo .more:hover,
.art-Table .art-menu .art-fan2 .art-schedule .more:hover, .art-Table .art-menu .art-fan2 .art-board .more:hover
	{
	color: #f5b041;
}