@charset "UTF-8";

#content_artbdview {
	background-color: #fff;
	font-family: sans-serif;
}

.artView {
	margin: 0 auto;
	height: 890px;
}

.artView .artpath {
	padding: 2%;
	hegiht: 50px;
	border: 1px solid blue;
}

.artView .artpath h3{
	font-size: 25px;
	color:#0c0c13;
}

.artView .artTable {
	
}

.btn_pass {
	width: 10%;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
	margin-left: 72%;
	margin-top: 2.77%;
	margin-right: 20px;
	color: #fff;
	background-color: #0c0c13;
	position: absolute;
}

.btn_list:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}

.btn_pass:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}