@charset "UTF-8";

#content_artboard {
	background-color: #fff;
	font-family: sans-serif;
}

/* content */
.artboard_form {
	margin:0 auto;
	/* border:1px solid red; */
}
`
/* 게시판 부분 */
.artboard_form .artboard-table {
	padding:2%;
	margin-top:10px;
}

.artboard_form .artboard-table h3{
	font-size: 25px;
	font-weight: 800;
	color: #0c0c13;
	padding: 3% 0 1% 3%;
}

.artboard_form .artboard-table table{
	width:98%;
	height:300px;
	padding:2% 1%;
	position: relative;
}

.artboard_form .artboard-table th {
    height: 45px;
	font-size: 15px;
	color: #fff;
	background-color: #0c0c13;
}

.artboard_form .artboard-table td {
	height: 50px;
	color: #0c0c13;
	font-size: 15px;
	font-weight:normal;
	text-align: center;
	border-bottom: 1px solid #eee;
}

.artboard_form .artboard-table .artTitle a:hover{
	color:#f5b041;
}

/* 게시판 검색부분 */
.artboard_form .artSearch {
	width: 48%;
	height: 30px;
	padding:1%;
	top:3%;
	left:30%;
	position:relative;
	/* border: 1px solid blue;  */
}

.artboard_form .artSearch select {
    width:22%;
    height:30px;
	font-size: 14px;
	text-align:center;
	padding:5px;
	color: #0c0c13;
}

.artboard_form .artSearch .art_searchText {
	width:45%;
	height:27px;
	font-size: 14px;
	color: #0c0c13;
	padding-left:5px;
}

.artboard_form .artSearch .art_searchbar {
	width:20%;
	height:32px;
	padding:5px;
	font-size: 14px;
	text-align:center;
	border-radius:5px;
	color:#fff;
	background-color: #0c0c13;
}

.artboard_form .artSearch .art_searchbar:hover{
	color:#0c0c13;
	background-color:#fff;
	padding:5px;
	border:1px solid #0c0c13;
}

.artboard_form .atwrite{
	width:10%;
	height:30px;
	font-size: 14px;
    float:right;
    margin-top:3%;
    margin-right:20px;
    border-radius:5px;
	color:#fff;
	background-color: #0c0c13;
}

.artboard_form .atwrite:hover{
	color:#0c0c13;
	background-color:#fff;
	border-radius:5px;
	border:1px solid #0c0c13;
}

.artist_board_cancel{
	width:10%;
	height:30px;
	font-size: 14px;
   	margin-left : 77%;
    margin-top:3%;
    margin-right:20px;
	color:#fff;
	background-color: #0c0c13;
	position: absolute;
}

.artist_board_cancel:hover{
	color:#0c0c13;
	background-color:#fff;
	border:1px solid #0c0c13;
}

/* 페이지 부분  */
.artPaging {
	width:30%;
	height:40px;
	padding-top:3%;
	margin-left:35%;
	text-align: center;
	position: relative;
	/* border:1px solid red; */
}

.artPaging a{
	font-size: 14px;
	color:#0c0c13;
	padding-right:5px;
}

.artPaging a:hover{
	color:#f5b041;
}
