@charset "UTF-8";

#content_artmovie {
	background-color: #fff;
	font-family: sans-serif;
}

/* content */
.artmovie_list {
	margin: 0 auto;
	padding: 3%;
	height:780px;
	/* border: 1px solid blue; */
}

.artmovie_list .tabmore {
	height: 60px;
	/* border:1px solid red; */
}

/* 버튼 */
.artmovie_list .tabmore .btn_more {
	width: 10%;
	height: 30px;
	font-size: 14px;
	float: right;
	margin-top:-3%;
	margin-right:11%;
	border-radius: 5px;
	color: #fff;
	background-color: #0c0c13;
}

.artmovie_list .tabmore .btn_more:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}

.artmovie_list h3 {
	font-size: 25px;
	font-weight: 800;
	color: #0c0c13;
	padding: 2% 0 0 3%;
    /* border: 1px solid red; */
}

/* 페이징 처리 기능부분,검색 창은 동일 class값 사용 */
/* 글쓰기 버튼 */
.artmovie_list .tabmore .atwrite {
	width: 10%;
	height: 30px;
	font-size: 14px;
	float: right;
	margin-top: -3%;
	border-radius: 5px;
	color: #fff;
	background-color: #0c0c13;
}

.artmovie_list .tabmore .atwrite:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}

/* 영상 게시판 부분 */
.artmovie_list h3 {
	font-size: 23px;
	font-weight: 800;
	color: #0c0c13;
	padding-top: 3%;
	padding-left: 2%;
	/* border: 1px solid red; */
}

.artmovie_list .amovie_board {
	height: 580px;
	padding: 2%;
}

.artmovie_list .amovie_board li {
	width: 22%;
	height: 270px;
	float: left;
	margin: 1%;
	overflow: hidden;
	position: relative;
	margin-bottom: 3%;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #0c0c13;
	box-shadow: 0 1px 4px rgba(0, 0, 0.1, 0.3);
}

.artmovie_list .amovie_board li .aphTitle, .artmovie_list .amovie_board li .aphNicname,
	.artmovie_list .amovie_board li .audate {
	font-size: 15px;
	font-weight: normal;
	color: #0c0c13;
	padding-left: 10px;
	padding-bottom: 20px;
}

.artmovie_list .amovie_board li .movie_box img {
	width: 90%;
	height: 180px;
	padding: 10px 10px 0 10px;
	/* border:1px solid cyan; */
}

.artmovie_list .amovie_board li .movie_box iframe {
	width: 90%;
	height: 180px;
	padding: 10px 10px 0 10px;
	/* border:1px solid cyan; */
}

.artmovie_list .amovie_board li .movie_box iframe {
	width: 90%;
	height: 180px;
	padding: 10px 10px 0 10px;
	/* border:1px solid cyan; */
}