@charset "UTF-8";

/* content_art */
#content_artphoto {
	background-color: #fff;
	font-family: sans-serif;
}

.artphoto_list {
	margin: 0 auto;
	padding: 5%;
	height:780px;
	/* border: 1px solid blue; */
}

.artphoto_list .tabmore {
	height:60px;
	/* border:1px solid red; */
}

/* 글쓰기 버튼 */
.artphoto_list .tabmore .atwrite {
	width: 10%;
	height: 30px;
	font-size: 14px;
	float: right;
	margin-top: -3%;
	border-radius: 5px;
	color: #fff;
	background-color: #0c0c13;
}

.artphoto_list .tabmore .atwrite:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}

/* 버튼 */
.artphoto_list .tabmore .btn_more {
	width: 10%;
	height: 30px;
	font-size: 14px;
	float: right;
	margin-top:-3%;
	margin-right:11%;
	border-radius: 5px;
	color: #fff;
	background-color: #0c0c13;
}

/* 사진 게시판 부분 */
.artphoto_list h3 {
	font-size: 25px;
	font-weight: 800;
	color: #0c0c13;
	padding: 2% 0 0 3%;
	/*  border: 1px solid red;  */
}

.artphoto_list .aphoto_board {
	height: 580px;
	padding: 2%;
}

.artphoto_list .aphoto_board li {
	width: 22%;
	height: 270px;
	float: left;
	margin: 1%;
	overflow: hidden;
	position: relative;
	margin-bottom: 3%;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #0c0c13;
	box-shadow: 0 1px 4px rgba(0, 0, 0.1, 0.3);
}

.artphoto_list .aphoto_board li .aphTitle, .artphoto_list .aphoto_board li .aphNicname,
	.artphoto_list .aphoto_board li .audate {
	font-size: 15px;
	font-weight: normal;
	color: #0c0c13;
	padding-left: 10px;
	padding-bottom: 20px;
}

.artphoto_list .aphoto_board li .photo_box img {
	width: 90%;
	height: 180px;
	padding: 10px 10px 0 10px;
	/* border:1px solid cyan; */
}
