@charset "UTF-8";

.artist_schedule_add{
	background-color: black;
	color: white;
	width: 10%;
	height: 50px;
	margin:2%;
	margin-top : -7%;
	margin-left : 80%;
	position: absolute;
	text-align: center;
}