@charset "UTF-8";

.artscheadd_table{
	margin-bottom: 100px;
	margin-top:100px;
}


.artscAddTitle{
	width : 100%;
	text-align: center;
	font-size: 5em;
	height : 100%;
}

.artscStart{
	font-size: 3em;
}

.artscEnd{
	font-size: 3em;
}