@charset "UTF-8";

/* content_tattopage */
#content_tat {
	background-color: #fff;
	font-family: sans-serif;
}

.tattoform {
	width: 100%;
	height: 890px;
	border: 1px solid red;
}

.tattoform .tatto-Table {
	height: 500px;
}

.tattoform .tatto-Table .tatto-id {
	width: 20%;
	height: 400px;
	float: left;
	padding: 2%;
	margin-top: 1.5%;
	position: relative;
	border: 1px solid green;
}

.tatto-Table .tatto-id h3 {
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 30px;
}

.tatto-Table .tatto-id>img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 10px;
	background-color: #f5b041;
}

.tatto-Table .tatto-id .tatto-text {
	font-size:14px;
	font-weight:700;
	text-align:center;
	padding: 1%;
	color: #0c0c13;
}

.tatto-Table .tatto-menu {
	position:relative;
}

.tatto-Table .tatto-menu .tatto-fan1 {
	height: 500px;
	margin-top: 2.5%;
	/* border: 1px solid green; */
}

/* 공연영상 부분 */
.tatto-Table .tatto-menu .tatto-video {
	width: 70%;
	height: 200px;
	float: left;
	margin-top: 1.5%;
	margin-left: 1%;
	padding: 10px;
	position: relative;
	/* border: 1px solid red; */
}

.tatto-Table .tatto-menu .tatto-video h6 {
	font-size: 14px;
	font-weight: 700;
	color: #0c0c13;
	padding-bottom: 5px;
	border-bottom: 2px solid #0c0c13;
}

.tatto-Table .tatto-menu .tatto-video li{
	position: relative;
	margin:15px 10px 0 10px;
	width:17%;
	height:150px;
	float:left;
	background-color: #0c0c13;
	/* border:1px solid red; */
}

.tatto-Table .tatto-menu .tatto-video .more{
	color: #0c0c13;
	text-transform: uppercase;
	font-size: 10px;
	float: right;
	top: -190px;
	right: 5px;
	position: relative;
}

/* 공연사진 부분 */
.tatto-Table .tatto-menu .tatto-video .tatto-photo {
	width: 70%;
	height: 200px;
	float: left;
	margin-top: 1.5%;
	margin-left: 1%;
	padding: 10px;
	position: relative;
	/* border: 1px solid red; */
}

.tatto-Table .tatto-menu .tatto-video .tatto-photo h6 {
	font-size: 14px;
	font-weight: 700;
	color: #0c0c13;
	padding-bottom: 5px;
	border-bottom: 2px solid #0c0c13;
}

.tatto-Table .tatto-menu .tatto-video .tatto-photo li{
	position: relative;
	width:17%;
	height:150px;
	margin:15px 10px 0 10px;
	float:left;
	background-color: #0c0c13;
	/* border:1px solid red; */
}

.tatto-Table .tatto-menu .tatto-video .tatto-photo .more{
	color: #0c0c13;
	text-transform: uppercase;
	font-size: 10px;
	float: right;
	top: -190px;
	right: 5px;
	position: relative;
}

.tatto-Table .tatto-menu .tatto-fan2 {
	height: 300px;
	margin-top: 1.5%;
	/* border: 1px solid green; */
}

/* 공연일정 부분 */
.tatto-Table .tatto-menu .tatto-fan2 .tatto-schedule {
	width: 48%;
	height: 200px;
	float: left;
	padding: 10px;
	position: relative;
	/* border: 1px solid blue; */
}

.tatto-Table .tatto-menu .tatto-fan2 .tatto-schedule h6 {
	font-size: 14px;
	font-weight: 700;
	color: #0c0c13;
	padding-bottom: 5px;
	padding-left:5px;
	border-bottom: 2px solid #0c0c13;
}

.tatto-Table .tatto-menu .tatto-fan2 .tatto-schedule li {
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 5px;
	padding-top: 7px;
	padding-left: 10px;
}

.tatto-Table .tatto-menu .tatto-fan2 .tatto-schedule li:before {
	content: '';
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #0c0c13;
	position: absolute;
	left: 3px;
	top: 16px;
}

/* 공연게시판 부분 */
.tatto-Table .tatto-menu .tatto-fan2 .tatto-board {
	width: 48%;
	height: 200px;
	float: left;
	padding: 10px;
	position: relative;
	/* border: 1px solid green; */
}

.tatto-Table .tatto-menu .tatto-fan2 .tatto-board h6 {
	font-size: 14px;
	font-weight: 700;
	color: #0c0c13;
	padding-bottom: 5px;
	padding-left:5px;
	border-bottom: 2px solid #0c0c13;
}

.tatto-Table .tatto-menu .tatto-fan2 .tatto-board li{
position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 5px;
	padding-top: 7px;
	padding-left: 10px;
}

.tatto-Table .tatto-menu .tatto-fan2 .tatto-board li:before{
	content: '';
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #0c0c13;
	position: absolute;
	left: 3px;
	top: 16px;
}

/* more 부분 */
.tatto-Table .tatto-menu .tatto-fan2 .tatto-board .more,.tatto-Table .tatto-menu .tatto-fan2 .tatto-schedule .more {
	color: #0c0c13;
	text-transform: uppercase;
	font-size: 10px;
	float: right;
	top: -150px;
	right: 5px;
	position: relative;
}

.tatto-Table .tatto-menu .tatto-video .more:hover,.tatto-Table .tatto-menu .tatto-photo .more:hover,
.tatto-Table .tatto-menu .tatto-fan2 .tatto-schedule .more:hover, .tatto-Table .tatto-menu .tatto-fan2 .tatto-board .more:hover
	{
	color: #f5b041;
}