@charset "UTF-8";

#contentWrapper {
	width : 99.5%;
	height : 76%;
	position : absolute;
	float:left;
}

#contentWrapper #streamContent {
	width: 50%;
    height: 100%;
    max-height: 100%;
    position: relative;
    float: inherit;
    padding : 2% 2% 2% 2%;
    
}
#streamContent #streamVideo {
	width: 100% ; 
	height: 100%;
}

#contentWrapper #streamSetting {
	width: 50%;
    /*height: 100%;*/
    float: inherit;
    padding : 5% 2% 2% 2%;
}

#streamSetting * {
	width:100%;
	height:100%;
}

#streamSetting #livebutton {
	width:100px;
	height:50px;
	
	margin-top:10%;
	margin-left: 40%;
}

#streamSetting .live-on {
	color : white;
	background : red;
	font-weight: bold;
}

#streamSetting .live-off {
	color : black;
	background : lightgrey;
	font-weight: bold;
}

#settingPopup {
	margin-left: 40%;
}
