@charset "UTF-8";

#content_join {
	background-color: #fff;
}

/* content_join */
.join_box {
	height: 900px;
}

.join_table {
	width: 100%;
	height: 750px;
	margin-top: 3%;
	margin-left: 2%;
	position: relative;
	/* border: 1px solid red; */
}

.join_table h2{
	font-size: 35px;
	font-family: sans-serif;
	font-weight: 900;
	text-align:center;
	color: #0c0c13;
	margin-bottom:1%;
	/* padding-left:5%; */
}

.join_table .join_list table {
	width: 68%;
	height:600px;
	padding: 2%;
	margin-left:15%;
	vertical-align:middle;
	/* border:1px solid red; */
}

/* 공통사항 */
.join_table .join_list .join-text {
	width: 18%;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 900;
	color: #0c0c13;
	padding: 1%;
}

.join_table .join_list td {
	padding: 1%;
	width: 100%;
}

.join_table .join_list .inputText {
	width: 28%;
	height:28px; 
	font-size : 15px;
	font-family: sans-serif;
	color: #0c0c13;
	border:1px solid #828282;
}

/* 동의 체크 */
.join_table .join_list #join-agree{
	font-size : 14px;
	font-family: sans-serif;
	color: #0c0c13;
} 
.join_table .join_list #join-agreetext{
	font-size : 13px;
	font-family: sans-serif;
	color: #0c0c13;
}

/* ------------------------------------------- */

.join_table .join_list #pwd-text {
	font-size: 12px;
	font-family: sans-serif;
	color: #828282;
	padding-left:5px;
}

/* button */
.join_table .join_list .overlap{
	width: 23%;
	height: 28px;
	border-radius: 5px;
	font-size: 13px;
	font-family: sans-serif;
	transition: all 0.3s ease;
	color: #fff;
	background-color: #0c0c13;
}

.join_table .join_list .overlap:hover{
	color: #f5b041;
}

.join_table .join_list #addrFind {
	width: 16%;
	height: 30px;
	border-radius: 5px;
	font-size: 13px;
	font-family: sans-serif;
	transition: all 0.3s ease;
	color: #fff;
	background-color: #0c0c13;
}

.join_table .join_list #addrFind:hover{
	color: #f5b041;
}

.join_table #joinButton{
	width: 15%;
	height: 35px;
	float:right;
	margin-top:1%;
	margin-right:3%;
	border-radius: 5px;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 900;
	transition: all 0.3s ease;
	color: #fff;
	background-color: #0c0c13;
}

.join_table #joinButton:hover{
	color: #f5b041;
}

/* 주소 부분 */
.join_list #ZIPCODE, .join_list #addrFind, .join_list #ADDRESS,
.join_list #ADDRESS_ETC{
	margin-bottom:3px;
}


