@charset "UTF-8";

#content_mfind {
	background-color: #fff;
	font-family: sans-serif;
}

.memberfind {
	margin:0 auto;
}

/* 아이디 찾기 부분  */
.memberfind .idfind_box {
	height: 220px;
	padding : 2%;
	margin:5% 20% 3% 25%;
	border:1px solid #0c0c13;
}

.memberfind .idfind_box h2 {
	font-size: 22px;
	color: #0c0c13;
	font-weight: 800;
	text-align:center;
	padding-bottom: 3%;
}

.memberfind .findInput{
	font-size: 16px;
	color: #0c0c13;
	width:50%;
	height:35px;
}

.memberfind .findInput #id_email{
	width:55%;
	height:35px;
	margin-left:22%;
	font-size: 16px;
	text-align:center;
	color: #0c0c13;
}

.memberfind .idfind_box input{
	width:55%;
	height:35px;
	margin-top:3%;
	margin-left:22%;
	/* border:1px solid green; */
}

/* 비밀번호 찾기 부분  */
.memberfind .pwdfind_box {
	height: 300px;
	padding: 2%;
	margin:1% 20% 5% 25%;
	border: 1px solid #0c0c13;
}

.memberfind .pwdfind_box h2 {
	font-size: 23px;
	color: #0c0c13;
	font-weight: 800;
	text-align:center;
	padding-bottom: 3%;
}

.memberfind .pwdfind_box .findInput{
	font-size: 16px;
	color: #0c0c13;
	width:50%;
	height:35px;
}

.memberfind .pwdfind_box #pwd_id,.memberfind .pwdfind_box #pwd_email{
	width:55%;
	height:35px;
	margin-left:22%;
	font-size: 16px;
	text-align:center;
	color: #0c0c13;
}

.memberfind .pwdfind_box input{
	width:55%;
	height:35px;
	margin:2% 0 1% 22%;
	/* border:1px solid green; */
}

/* 공통사항  */
.findInput{
	width:55%;
	font-size: 17px;
	color: #0c0c13;
	padding:5% 3% 3% 20%;
	/* border:1px solid red; */
}

/* 버튼 */
.idFind,.pwfind {
	display: inline-block;
	height: 40px;
	width: 58%;
	margin-top:3%;
	margin-left:21%;
	padding: 0 14px 0;
	border: 1px solid #0c0c13;
	background-color: #0c0c13;
	border-radius: 18px;
	font-size: 14px;
	color: #fff;
	line-height: 25px;
}

.idFind:hover,.pwfind:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}