@charset "UTF-8";

#content_mfind {
	background-color: #fff;
	font-family: sans-serif;
}

.memberfind {
	margin:0 auto;
}

.memberfind .idfind_box {
	height: 220px;
	padding : 2%;
	margin:5% 20% 3% 25%;
	border:1px solid #0c0c13;
}

.memberfind .idfind_box h2 {
	font-size: 23px;
	color: #0c0c13;
	font-weight: 800;
	text-align:center;
	padding-bottom: 3%;
}

.memberfind .idfind_box input{
	width:50%;
	height:35px;
	margin:.5%;
}

.memberfind .idfind_box #findId{
	padding-right:45px;
	/* border:1px solid red; */
}

.memberfind .pwdfind_box {
	height: 200px;
	padding: 2%;
	margin:1% 20% 5% 25%;
	border: 1px solid #0c0c13;
}

.memberfind .pwdfind_box h2 {
	font-size: 23px;
	color: #0c0c13;
	font-weight: 800;
	text-align:center;
	padding-bottom: 3%;
}

.memberfind .pwdfind_box input{
	width:55%;
	height:35px;
	margin:.5%;
	margin-left:22%;
	/* border:1px solid green; */
}

/* 공통사항  */
.findInput{
	width:55%;
	font-size: 17px;
	color: #0c0c13;
	padding-left:20%;
	padding-right:2%;
	/* border:1px solid red; */
	padding-bottom:3%;
}

/* 버튼 */
.find {
	display: inline-block;
	height: 40px;
	width: 55%;
	margin-top:3%;
	margin-left:23%;
	padding: 0 14px 0;
	border: 1px solid #0c0c13;
	background-color: #0c0c13;
	border-radius: 20px;
	font-size: 12px;
	color: #fff;
	line-height: 25px;
}

.find:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}