@charset "UTF-8";

#content_board {
	background-color: #fff;
}

.board {
	width: 100%;
	height: 860px;
	position: relative;
	border: 1px solid red;
}

#boardTab {
	height: 760px;
	padding-top: 2%;
	border: 1px solid blue;
}

/* tab메뉴 */
.tabs {
	width: 100%;
	height: 32px;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	border-bottom: 1px solid #0c0c13;
	border-left: 1px solid #0c0c13;
}

.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	width: 49.9%; height : 31px;
	line-height: 31px;
	border: 1px solid #0c0c13;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background-color: #f5b041;
	height: 31px;
}

.tabs li a {
	text-decoration: none;
	color: #0c0c13;
	display: block;
	font-size: 17px;
	font-weight: 800;
	font-family: sans-serif;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}

.tabs li a:hover {
	color: #f5b041;
	background-color: #0c0c13;
}

.tabs li.active, .tabs li.active a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}

/* tab 게시판 부분 */
.tab_container {
	width: 100%;
	overflow: hidden;
	clear: both;
	float: left;
	background: #fff;
	border-top: none;
	border: 1px solid #0c0c13;
}

.tab_content {
	height: 680px;
	padding: 20px;
	font-size: 15px;
	font-weight: 800;
	font-family: sans-serif;
}

.bd-Table {
	width: 98%;
	font-size: 16px;
	font-family: sans-serif;
	text-align: center;
	margin: 1%;
}

.bd-Table th {
	height: 40px; font-size : 15px;
	color: #fff;
	background-color: #0c0c13;
	font-size: 15px;
}

.bd-Table td {
	height: 40px;
	color: #0c0c13;
	font-size: 14px;
	font-family: sans-serif;
	text-align: center;
	border-bottom: 1px solid #eee;
}



/* 페이지 부분  */



/* 검색 부분 */
