@charset "UTF-8";

#content_board {
	background-color: #fff;
	font-family: sans-serif;
}

/* content_tab */
.board {
	margin: 0 auto;
	/* border: 1px solid red; */
}

#boardTab {
	height:680px;
	left:5%;
	position:relative;
	/* border:1px solid green; */
}

/* tab메뉴 */
.tabs {
	margin-top:1%;
	height: 70px;
	/* border:1px solid red; */
}

.tabs li {
	width:45%;
	height: 50px;
	float: left;
	margin-left:2%;
	
}

.tabs li a {
	width: 100%;
	height: 35px;
	position: relative;
	padding-top: 3%;
	margin:3%;
	float: left;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	color: #0c0c13;
	border-bottom: 3px solid #0c0c13;
}

.tabs li a:hover {
	color: #f5b041;
	border-color: #f5b041;
}

.tabs li.active, .tabs li.active a:hover {
	background-color: #fff;
	z-index: 3;
}

/* tab 게시판 부분 */
.tab_container {
	width:95%;
	display:block;
	padding:2% 1%;
	position: relative;
}

.tab_content {
	padding: 1%;
	font-size: 15px;
	font-weight: 800;
}

.bd-Table {
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin-left:12px;
	border: 1px solid 828282;
}

.bd-Table th {
	height: 45px;
	font-size: 15px;
	color: #fff;
	background-color: #0c0c13;
}

.bd-Table td {
	height: 50px;
	color: #0c0c13;
	font-size: 15px;
	font-weight:normal;
	text-align: center;
	border-bottom: 1px solid #eee;
}

.bd-Table .prTitle a:hover{
	color:#f5b041;
}

/* 페이지 부분  */
.bdpage{
	width:30%;
	height:40px;
	padding-top:3%;
	margin-left:35%;
	position: relative;
	/* border:1px solid red; */
}

.bdpage .bdpaging{
	text-align: center;
}

.bdpage .bdpaging a{
	font-size: 14px;
	color:#0c0c13;
}

.bdpage .bdpaging a:hover{
	color:#f5b041;
}

/* 검색 부분  */
.bdsearch {
	width: 48%;
	height: 30px;
	padding:1%;
	top:8%;
	left:30%;
	position:relative;
	/* border: 1px solid blue;  */
}

.bdsearch select {
	height: 25px;
	bottom: 3px;
	padding:2px;
	/* position: relative; */
}

.bdsearch .searchWord {
	width:39%;
	height: 22px;
	font-size:15px;
	color: #0c0c13;
	padding-left:5px;
}

.bdsearch .dbSearch {
	width:20%;
	font-size: 15px;
	text-align: center;
	padding:2px;
	color: #fff;
	border-radius:5px;
	background-color: #0c0c13;
}

.dbSearch:hover{
	color:#0c0c13;
	background-color:#fff;
	border:1px solid #0c0c13;
}

/* 글쓰기  */
#bdWrite{
	width:120px;
	height: 25px;
	font-size: 15px;
	text-align: center;
	padding:2px;
	color: #fff;
	border-radius:5px;
	margin-top:-9.5%;
	float:right;
	background-color: #0c0c13;
}

#bdWrite:hover,#bdWrite:focus, #bdWrite:checked,#bdWrite:link{
	color:#0c0c13;
	background-color:#fff;
	border:1px solid #0c0c13;
}

