@charset "UTF-8";

#content_board {
	background-color: #fff;
}

.board {
	width: 100%;
	height: 620px;
	position: relative;
	/* border: 1px solid red; */
}

#boardTab {
	height: 820px;
	padding-top: 5%;
	/* border: 1px solid blue; */
}

#boardTab h3 {
	font-size: 23px;
	font-weight: 800;
	color: #0c0c13;
	padding-left: 2%;
	padding-bottom: 2%;
}

/* tab메뉴 */
.tabs {
	width: 100%;
	height: 43px;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	border-bottom: 1px solid #0c0c13;
	border-left: 1px solid #0c0c13;
}

.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	width: 47%;
	height: 43px;
	line-height: 43px;
	border: 1px solid #0c0c13;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background-color: #f5b041;
}

.tabs li a {
	/* text-decoration: none; */
	color: #0c0c13;
	display: block;
	font-size: 17px;
	font-weight: 800;
	font-family: sans-serif;
	padding: 3px 10px;
	border: 1px solid #fff;
	outline: none;
}

.tabs li a:hover {
	color: #f5b041;
	background-color: #0c0c13;
}

.tabs li.active, .tabs li.active a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}

/* tab 게시판 부분 */
.tab_container {
	width: 100%;
	overflow: hidden;
	clear: both;
	float: left;
	background: #fff;
	border-top: none;
	border: 1px solid #0c0c13;
}

.tab_content {
	height: 290px;
	padding: 20px;
	font-size: 15px;
	font-weight: 800;
	font-family: sans-serif;
}

.bd-Table {
	width: 97%;
	font-size: 16px;
	font-family: sans-serif;
	text-align: center;
	margin-top: 25px;
	margin-left:12px;
	border: 1px solid 828282;
}

.bd-Table th {
	height: 45px;
	font-size: 15px;
	color: #fff;
	background-color: #0c0c13;
	font-size: 15px;
}

.bd-Table td {
	height: 45px;
	color: #0c0c13;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	border-bottom: 1px solid #eee;
}

/* 페이지 부분  */
.bdpage{
	text-align: center;
}
/* .bdpage {
	width: 12%;
	top:30px;u
	left:45%;
	margin: 5px;
	position: relative;
	border: 1px solid red;
}

.bdpage .bdpaging {
	overflow: hidden;
	display: block;
}

.bdpage .bdpaging li {
	float: left;
	padding-right: 5px;
}

.bdpage .bdpaging li a {
	color: #808080;
	font-size: 14px;
	font-family: sans-serif;
	text-align: center;
	padding: 3px 2px;
}

.bdpage .bdpaging li a:hover {
	color: #0c0c13;
} */

/* 검색 부분  */
.bdsearch {
	width: 60%;
	height: 30px;
	top:51px;
	left:33%;
	position:relative;
	/* border: 1px solid blue; */
}

.bdsearch select {
	height: 30px;
	bottom: 3px;
	padding:2px;
	position: relative;
}

.bdsearch .searchText {
	width:25%;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	padding:2px;
	color: #0c0c13;
}

.bdsearch .dbSearch {
	width:120px;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	padding:2px;
	color: #fff;
	background-color: #0c0c13;
}

#bdWrite{
	width:120px;
	height:30px;
	float:right;
	margin-top:20px;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	color: #fff;
	background-color: #0c0c13;
}

#bdWrite a{
	color : white;
	board : 1%;
}

#bdWrite:hover{
	color:#0c0c13;
	background-color:#fff;
	border:1px solid #0c0c13;
}

.dbSearch:hover{
	color:#0c0c13;
	background-color:#fff;
	border:1px solid #0c0c13;
}