@charset "UTF-8";

#content_bread {
	background-color: #fff;
	font-family: sans-serif;
}

/* content */
.bread_list {
	margin: 0 auto;
	height: 750px;
}

.bread_list .read_category {
	height: 40px;
	margin: 5% 2% 0 2%;
	color: #fff;
	font-size: 25px;
	padding: 0.7%;
	background-color: #0c0c13;
}

.bread_list .read_category strong {
	float: right;
}

.bread_list .read_title {
	font-size: 25px;
	font-weight: 800;
	text-align: center;
	margin: 1% 3%;
	padding: 1%;
	color: #0c0c13;
	border-bottom: 3px solid #0c0c13;
	text-align: center;
}

.bread_list .read_info {
	height: 650px;
	/* border: 1px solid red; */
}

.bread_list .read_info .read_id, .bread_list .read_info .read_day,
	.bread_list .read_info .read_file {
	width: 90%;
	height: 20px;
	float: left;
	font-size: 16px;
	padding: 8px;
	margin-left: 5%;
	color: #0c0c13;
	border-bottom: 1px solid #eee;
	/* border: 1px solid red; */
}

.bread_list .read_info .read_content {
	width: 90%;
	height: 320px;
}

.bread_list .read_info .read_content textarea {
	font-size: 15px;
	padding: 1%;
	margin: 3% 5% 1% 5%;
}

.read_button {
	width: 95%;
	height: 100px;
	margin-top: 3%;
}

.read_button .read_delete {
	width: 12%;
	height: 30px;
	font-size: 14px;
	float: right;
	border-radius:5px;
	color: #fff;
	background-color: #0c0c13;
}

.read_delete:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}

.read_button .read_list {
	width: 12%;
	height: 30px;
	font-size: 14px;
	float:right;
	border-radius:5px;
	margin-right:10px;
	color: #fff;
	background-color: #0c0c13;
}

.read_list:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}