@charset "UTF-8";

.bwrite_table{
	width: 100%;
    height: 500px;
}

.write_category {
	margin-top: 1%;
	height: 70px;
    width: 100%;
    color: black;
    font-size: 30px;
    position: absolute;
    margin-top: -70px;
    
}

.write_category strong {
	float: right;
}

.write_detail{
    width: 100%;
    height: 400px;
    margin-top: 10%;
}

.bdwrite_button{
	width:10%;
	height:30px;
	font-size: 14px;
	font-family: sans-serif;
    float:right;
    margin-top:3%;
    margin-right:20px;
	color:#fff;
	background-color: #0c0c13;
}

.title_file{
	font-size: 30px;
}

.write_title{
	width: 50%;
    height: 30px;
}

.bdWriteCancel{
	width:10%;
	height:30px;
	font-size: 14px;
	font-family: sans-serif;
   	margin-left : 77%;
    margin-top:1%;
    margin-right:20px;
	color:#fff;
	background-color: #0c0c13;
	position: absolute;
}

.bdWriteCancel:hover{
	color:#0c0c13;
	background-color:#fff;
	border:1px solid #0c0c13;
}

.bdwrite_button:hover{
	color:#0c0c13;
	background-color:#fff;
	border:1px solid #0c0c13;
}
