@charset "UTF-8";

#content_bwrite {
	background-color: #fff;
	font-family: sans-serif;
}

/* content_tab */
.bwrite_table {
	margin: 0 auto;
}

.bwrite_table .bwrite_list {
	height: 800px;
	left: 5%;
	border: 1px solid red;
}

.bwrite_table .bwrite_list .write_category {
	height: 40px;
	margin: 2% 2% 0 2%;
	color: #fff;
	font-size: 25px;
	padding:0.7%;
	background-color: #0c0c13;
}

.bwrite_table .bwrite_list .write_category strong {
	float: right;
}

.bwrite_table .bwrite_list .write_detail {
	width: 95%;
	height: 450px;
	padding: 2%;
}

.bwrite_table .bwrite_list .write_detail .title_file {
	padding: 1%;
	border: 1px solid blue; 
}

.bwrite_table .bwrite_list .write_detail .write_content{
	width: 95%;
	font-size: 15px;
}

.bwrite_table .bwrite_list .write_detail .title_file label {
	font-size: 17px;
	font-weight: 700;
	color: #0c0c13;
}

.bwrite_table .bwrite_list .write_detail .title_file .write_title {
	font-size: 15px;
	padding-left: 5px;
	color: #0c0c13;
}

.bwrite_table .bwrite_list .write_detail .title_file #contract_file {
	font-size: 15px;
	padding-left: 5px;
	color: #0c0c13;
}

.bwrite_table .bdwrite_button {
	width: 10%;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
	float: right;
	margin-top: 3%;
	margin-right: 20px;
	color: #fff;
	background-color: #0c0c13;
}

.title_file {
	font-size: 30px;
}

.write_title {
	width: 50%;
	height: 30px;
}

.bdWriteCancel {
	width: 10%;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
	margin-left: 77%;
	margin-top: 1%;
	margin-right: 20px;
	color: #fff;
	background-color: #0c0c13;
	position: absolute;
}

.bdWriteCancel:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}

.bdwrite_button:hover {
	color: #0c0c13;
	background-color: #fff;
	border: 1px solid #0c0c13;
}
*
/