@charset "UTF-8";
.write_category {
	margin-top: 1%;
	height: 70px;
    width: 100%;
    color: black;
    font-size: 2vw;
    position: absolute;
    margin-top: -70px;
    
}

.write_category strong {
	float: right;
}

.write_detail{
    width: 100%;
    height: 400px;
    margin-top: 10%;
}

.bdwrite_button{
	width:120px;
	height:30px;
	float:right;
	margin-top:20px;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	color: #fff;
	background-color: #0c0c13;
}

.title_file{
	font-size: 30px;
}

.write_title{
	width: 50%;
    height: 30px;
}